<!DOCTYPE html>
<html>
  <head>
	<title>LITauth - Register</title>
	<link rel="preload" href="/resources/signup_1.mp3" as="audio">
	<link rel="preload" href="/resources/signup_2.mp3" as="audio">
	<link rel="preload" href="/resources/signup_3.mp3" as="audio">
    <%- include('./common/darkmode.ejs') %>
  </head>
  <body class="bg-gray-900 vbg">
	<audio id="coolmusic1" autoplay loop src="/resources/signup_1.mp3"></audio>
	<audio id="coolmusic2" autoplay muted loop src="/resources/signup_2.mp3"></audio>
	<audio id="coolmusic3" autoplay muted loop src="/resources/signup_3.mp3"></audio>
    <%- include("./common/nav.ejs", {user: user}); %> 
	<noscript><%- include('./common/error.ejs', { type: "hmmky", title: "You need to have JavaScript enabled!", message: "Without it, most of our sites won't work properly."}) %></noscript>
	<div id="register_info" class="hidden">
		<h1 class="text-center text-vwhite text-3xl"><b>Welcome to LITauth!</b></h1><br>
		<form id="registrationForm" class="mt-20p text-center">
			<input type="hidden" name="_csrf" value="<%=csrfToken %>" id="csrf">
			<input id="usernameField" type="text" name="username" placeholder="Username" class="input-box" id="usr_input" onchange="this.classList.remove('input-invalid');" required><br>
			<br>
			<input type="text" name="email" placeholder="Email" class="input-box" id="email_input" onchange="this.classList.remove('input-invalid');" required><br>
			<br>
			<input type="password" name="password" placeholder="Password" class="input-box" id="pass_input" onchange="this.classList.remove('input-invalid');" required><br>
			<br>
			<input type="password" name="password2" placeholder="Confirm password" class="input-box" id="pass_input2" onchange="this.classList.remove('input-invalid');" required><br>
			<label for="terms" class="text-vwhite max-w-sm">I am 13 years old or older, and have read and accept <br> the terms outlined in the <a href="/terms" class="text-blue-200">Terms of Service</a> and the <a href="/privacy" class="text-blue-200">Privacy Policy</a></label>
			<input type="checkbox" name="terms"><br>
			<br>
			<input type="submit" class="button" value="Register">
			<br><br><span class="text-red-800" id="error"><% if (messages?.error) { %><%=messages.error %><% } %></span>
		</form>
	</div>
	<div id="loading" class="hidden">
		<img src="/resources/spinner.webp"/>
	</div>
	<div id="verify_email" class="hidden">
		<h1 class="text-center text-vwhite text-3xl">Verify your email address</h1>
		<div class="mt-20p text-center text-vwhite space-y-5">
			<p>We need to make sure you actually own that email address and that you aren't a robot!<br>Please enter the code we sent to your email address.<br>If it's not there, check your spam folder.</p>
			<form id="verificationForm">
				<input type="number" name="code" placeholder="your verification code" class="input-box" id="code_input" onchange="this.classList.remove('input-invalid');document.getElementById('code_error').innerHTML = ''" required><br>
				<span class="text-red-800" id="code_error"></span><br>
				<input type="submit" class="button" value="Verify">
			</form>
			<span class="text-gray-400" id="resendText" onclick="resend()">Resend code <span id="resendCounter"></span></span>
		</div>
	</div>
	<div id="completed" class="hidden">
		<h1 class="text-center text-vwhite text-3xl">Registration complete!</h1>
		<div class="mt-20p text-center text-vwhite">
			<p>You have successfully signed up!</p>
			<p>Congratulations on making it through the process, but you're not quite done yet!</p>
			<p>Next you will be redirected to the avatar designer, to customize your Vukky avatar.</p>
			<p>The avatar will be used on various LIT Devs services.</p>
			<a href="/designer" class="button">Go</a>
		</div>
	</div>
	<%- include("common/footer.ejs"); %>
	</body>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
      tippy('#usernameField', {
        content: 'Empty head? Need ideas? How about <i><%=`${words[Math.floor(Math.random()*words.length)]}-${words[Math.floor(Math.random()*words.length)]}`%></i>?',
      });
    </script>
 	<script>
	document.querySelector("#register_info").classList.remove("hidden")
	let resendCounter
	let counter = 60

	function showError(type, title, message) {
		document.querySelector(".youfailedimg").src = `/resources/${type}.png`;
		document.querySelector(".youfailedtitle").innerHTML = title;
		document.querySelector(".youfailedtext").innerHTML = message;
		document.querySelector(".youfailed-wrap").classList.remove("hidden")
	}
	function resendC() {
		clearInterval(resendCounter)
		document.getElementById("resendCounter").innerHTML = "(60)"
		counter = 60
		resendCounter = setInterval(() => {
			if (counter - 1 != 0) {
				document.getElementById("resendCounter").innerHTML = "(" + (counter - 1).toString() + ")"
				counter = counter - 1
			} else {
				clearInterval(resendCounter)
				counter = 0
				document.getElementById("resendCounter").innerHTML = ""
				document.getElementById("resendText").classList.replace("text-gray-400", "text-blue-500")
				document.getElementById("resendText").classList.add("cursor-pointer")
				
			}
			
		}, 1000)
	}
	function resend() {
		if (counter != 0) return
		document.getElementById("resendText").classList.remove("text-blue-500")
		document.getElementById("resendText").classList.remove("cursor-pointer")
		document.getElementById("resendText").classList.add("text-gray-500")
		counter = 1
		fetch('/login/register/resend').then(res => {
			if (res.status != 200) {
				document.getElementById("resendCounter").innerHTML = "Failed to resend code"
			}
		})
	}
	let currentStage = 1;
	function nextTrack() {
		document.querySelector(".youfailed-wrap").classList.add("hidden")
		document.querySelector(`#coolmusic${currentStage + 1}`).muted = false;
		document.querySelector(`#coolmusic${currentStage}`).muted = true;
		currentStage += 1;
	}

	let csrf = document.getElementById("csrf").value;
	document.getElementById("registrationForm").onsubmit = (e) => {
        e.preventDefault()
		document.getElementById("error").textContent = "";
		document.getElementById('loading').classList.remove("hidden")
		document.getElementById('register_info').classList.add("hidden")
		fetch('/login/register/1', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    _csrf: csrf,
					username: document.getElementById("registrationForm").username.value,
					email: document.getElementById("registrationForm").email.value,
					password: document.getElementById("registrationForm").password.value,
					password2: document.getElementById("registrationForm").password2.value,
					terms: document.getElementById("registrationForm").terms.checked
                })
            }).then(res => {
               switch(res.status) {
					case 400:
						res.json().then(json => {
							
							document.getElementById('loading').classList.add("hidden")
							document.getElementById('register_info').classList.remove("hidden")
							showError(json.face, json.title, json.message)
							if(json.type == "username") {
                                return document.getElementById("usr_input").classList.add("input-invalid");
                            }
							if(json.type == "email") {
                                return document.getElementById("email_input").classList.add("input-invalid");
                            }
							if(json.type == "terms") {
                                return;
                            }
                            if(json.type == "password") {
                                document.getElementById("pass_input").classList.add("input-invalid");
                                return document.getElementById("pass_input2").classList.add("input-invalid");
                            }
                            showError(undefined, undefined, "Something went very wrong, please try again later") // this shouldnt happen, but if it does then it does
						})
					   break;
					case 500:
                        res.json().then(json => {
							document.getElementById('loading').classList.add("hidden")
							document.getElementById('register_info').classList.remove("hidden")
                            if(json.type == "error") return showError(undefined, undefined, json.message)
                            showError(undefined, undefined, "Something went very wrong, please try again later")
                        })
						break;
					case 200:
						document.getElementById('loading').classList.add("hidden")
						document.getElementById('verify_email').classList.remove("hidden")
						nextTrack();
						console.log("success, saved to session")
						resendC()
					break;
					case 429:
						document.getElementById('loading').classList.add("hidden")
						document.getElementById('register_info').classList.remove("hidden")
						showError("pjuky", "You tried too much!", "Please try again later.")
					break;
			   }
        });
	}
	document.getElementById("verificationForm").onsubmit = e => {
		e.preventDefault()
		if (document.getElementById("code_input").value.length != 6) {
			document.getElementById("code_input").classList.add("input-invalid");
			return showError("hmmky", "That's not right!", "The code is 6 digits.")
		}
		document.getElementById("verify_email").classList.add("hidden")
		document.getElementById("loading").classList.remove("hidden")
		fetch('/login/register/2', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    _csrf: csrf,
					verificationCode: document.getElementById("code_input").value
                })
            }).then(res => {
				switch (res.status) {
					case 200:
						// account created, session destroyed.
						fetch("/login/password", {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({
								_csrf: csrf,
								username: document.getElementById("registrationForm").email.value,
								password: document.getElementById("registrationForm").password.value
							})
						}).then(res => {
							nextTrack()
							document.getElementById('loading').classList.add("hidden")
							document.getElementById('completed').classList.remove("hidden")
						})
					break;
					case 400:
					case 429:
						res.json().then(json => {
							document.getElementById('loading').classList.add("hidden")
							document.getElementById('verify_email').classList.remove("hidden")
							if(json.type == "verificationWrong" || json.type == "verificationLimit" || json.type == "error") {
								document.getElementById("code_input").classList.add("input-invalid");
								return showError(json.face, json.title, json.message)
							}
							showError(undefined, undefined, "Something went very wrong, please try again later")
						})
					break;
					case 500:
						document.getElementById('loading').classList.add("hidden")
						document.getElementById('verify_email').classList.remove("hidden")
						showError(undefined, undefined, "Something went very wrong, please try again later")
					break;
				}
			})
	}
  </script>
</html>